body {
    /* Background pattern from Toptal Subtle Patterns */
    background-image: url("../img/vintage-wallpaper.png");
    font-size: 20px
}

#container {
    background-color: #c0d8ed;
    width: 300px;
    padding: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    -webkit-box-shadow: 10px 10px 45px 1px rgba(0,0,0,0.54);
    -moz-box-shadow: 10px 10px 45px 1px rgba(0,0,0,0.54);
    box-shadow: 10px 10px 45px 1px rgba(0,0,0,0.54);
}

#projectsMain {
    /* display: inline-block; */
    width: 90%;
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 20px;
}

input[type=number], 
input[type=text],
input[type=password]  {
    width: 300px;
    background-color: #efefef;
    color: #666;
    border-radius: 5px;
    font-size: 20px;
    box-sizing: border-box;
    margin-top: 10px;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
/* Chrome, Safari, Edge, Opera */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

#radiosBtn {
    width: 300;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    text-align: center;
}

input[type=submit] {
    width: 300px;
    background-color:whitesmoke;
    font-size: 20px;
    padding: 15px 10px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    letter-spacing: 2px;
} 

.projectContainer {
    padding-top: 10px;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}

.projectContainer > * {
    display: inline-block;
    width: 22%;
    overflow-x: auto;
    border: 4px solid #87d9f9;
    padding-bottom: 5px;
    background: white;
    margin-left: 0px;
    margin-right: -7px;
}

#projects {
    margin-top: 20px;
}

.tilesuccess {
    margin-right: 1%;
    text-align: center;
    margin-bottom: 10px;
    padding-top: 120px;
    width: 32%;
    height: 180px;
    /* display: inline-block; */
    background-color: chartreuse;
    float: left;
    border: 1px solid #ccc;
}

.tilerunning {
    margin-right: 1%;
    text-align: center;
    margin-bottom: 10px;
    padding-top: 120px;
    width: 32%;
    height: 180px;
    /* display: inline-block; */
    background-color: cyan;
    float: left;
    border: 1px solid #ccc;
}

.tilefailed {
    margin-right: 1%;
    text-align: center;
    margin-bottom: 10px;
    padding-top: 120px;
    width: 32%;
    height: 180px;
    /* display: inline-block; */
    background-color: red;
    float: left;
    border: 1px solid #ccc;
}

.tilepending {
    margin-right: 1%;
    text-align: center;
    margin-bottom: 10px;
    padding-top: 120px;
    width: 32%;
    height: 180px;
    /* display: inline-block; */
    background-color:rgb(236, 180, 130);
    float: left;
    border: 1px solid #ccc;
}